/* -- Import Fonts -- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* -- Define Variables -- */

:root {
  --bg-color: #f8f8fa;
  --on-bg-color: #000000;
  --surface-color: #1d1d1d;
  --on-surface-color: #ffffff;
  --primary-neutral-color: #595959;
}

/* -- Resets -- */

* {
  border: 0;
  box-sizing: content-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/* Content editable */

*[contenteditable] {
  border-radius: 0.25em;
  min-width: 1em;
  outline: 0;
}

*[contenteditable] {
  cursor: pointer;
}

*[contenteditable]:hover,
*[contenteditable]:focus,
td:hover *[contenteditable],
td:focus *[contenteditable],
img.hover {
  box-shadow: 0 0 0.5em 0.1em #000;
}

span[contenteditable] {
  display: inline-block;
}

/* Layout Styles */

header {
  background-color: var(--bg-color);
  display: flex;
  padding: 30px;
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/* Utility Styles */

.row {
  display: flex;
}

/* Company Styles */

header address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header address .logo {
  max-width: 225px;
}

header address .content {
  margin-top: 125px;
}

header address .content :is(img) {
  width: 100%;
}

/* Main */

header main {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header main h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

header main .invoice {
}

header main .issue {
}

header main .client {
}

/* Common Styles */

.content-block h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: var(--primary-neutral-color);
}

.content-block a {
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
  margin-top: 6px;
  display: block;
}

.content-block p {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
  margin-top: 6px;
}

.content-block p strong {
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
}

/* Table */

table {
  font-size: 75%;
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: separate;
}

table thead tr {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}
td {
  border-color: #ddd;
}

th,
td {
  position: relative;
}

/* -- Footer Styles  -- */

/* Common classes */

footer .balance-block h3 {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-neutral-color);
  text-transform: uppercase;
}

footer .balance-block p {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-top: 5px;
}

/* Specific styles */

footer .balance {
  margin-top: 100px;
}

footer .subtotals {
  flex: 1;
  background-color: var(--bg-color);
}

footer .balance .spacer {
  font-weight: 300;
  font-size: 34px;
  margin: 0 40px;
}

footer :is(.total, .subtotals) {
  padding: 15px 30px;
}

footer .total {
  justify-content: right;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  text-align: right;
  flex: 1;
}

footer .total h3 {
  color: #d6d4d4;
}

footer .notes {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
}

/* Print */

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  html {
    background: none;
    padding: 0;
    margin: 0;
  }

  body {
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  span:empty {
    display: none;
  }

  .add,
  .cut {
    display: none;
  }
}

/* javascript */

.add,
.cut {
  border-width: 1px;
  display: block;
  font-size: 0.8rem;
  padding: 0.25em 0.5em;
  float: left;
  text-align: center;
  width: 0.6em;
}

.add,
.cut {
  background: #9af;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -moz-linear-gradient(#00adee 5%, #0078a5 100%);
  background-image: -webkit-linear-gradient(#00adee 5%, #0078a5 100%);
  border-radius: 0.2em;
  border-color: #0076a3;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.333);
}

.add {
  margin: 0 0 0;
}

.add:hover {
  background: #00adee;
}

.cut {
  opacity: 0;
  position: absolute;
  top: 0;
  left: -1.5em;
}

.cut {
  -webkit-transition: opacity 100ms ease-in;
}

tr:hover .cut {
  opacity: 1;
}
